.top {
  position: absolute;
  left: 0;
  right: 0;
  height: 92px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(232, 243, 255);
  height: 5rem;
  align-items: center;
}
.left {
  position: absolute;
  left: 0;
  top: 92px;
  bottom: 0;
  width: 200px;
  background-color: rgb(197, 229, 248);
}
.main {
  position: absolute;
  left: 200px;
  top: 92px;
  right: 0;
  bottom: 0;
  border: 1px solid #ccc;
  border-left: none;
  text-align: start;
  padding-left: 10px;
  overflow-y: scroll;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
}

.sidebar button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.sidebar button:hover {
  background-color: #dddddd;
}

.sidebar button.active {
  background-color: #cccccc;
}
