.page-Layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-gap: 5px;
  background-color: #a5d4fa;
  padding: 10px;
}

.item1 {
  grid-area: header;
  text-align: center;
}
.item2 {
  grid-area: main;
  overflow-y: auto;
  /* max-height: calc(100vh - 9rem); */
}
.item3 {
  grid-area: footer;
}

.page-Layout > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
}
